:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: black;
}

.boton1 {
    color: white;
    background-color: #3c3c3f;
    border: none;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    font-size: 32px;
   
   
}

.boton2 {
    color: white;
    background-color: rgb(255, 136, 0);
    border: none;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    font-size: 32px;
}

.boton3 {
    color: white;
    background-color: rgb(255, 136, 0);
    border: none;
    border-radius: 4%;
    width: 200px;
    height: 90px;
    font-size: 32px;
}

.rectangulo {
    width: 500px;
    height: 810px;    
    background-color: rgb(73, 73, 73);
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   

}

.fila4, .fila3, .fila2, .fila1, .fila5 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    top: 214px;
}

.cuadro_resultado {
    width: 420px;
    height: 150px;
    background-color: lightgray;
    border-radius: 2%;
    position: relative;
    margin-bottom: -150px;
    top: 40px;
    left: 40px;
}

#display {
    width: 100%;
    height: 100%;
    font-size: 48px;
    color: black;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

